.main-l {
  text-align: center;
  justify-content: center;
  display: flex;
  background: url("../../assets/img/Background.jpg");
  background-size: cover;
  height: 100%;
  padding-bottom: 10%;
}

.box-l {
  margin: 5% 0;
  padding: 5% 0;
  width: 28vw;
  box-shadow: 11px 12px 13px rgb(207, 207, 207);
  border-radius: 60px;
  background-color: white;
}

.imgs-l {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

.container-image-l {
  display: flex;
}

.profile-l {
  height: 100px;
  width: 100px;
}

.title-l {
  padding-top: 20px;
}
