.main-r {
  background: url("../../assets/img/Background.jpg");
  background-size: cover;
}

.box-r {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.name-r {
  box-shadow: inset 0px 0px 25px 0px #888;
  margin-bottom: 10px;
}

.button-r {
  background-color: #ff0000;
}
