.main-r {
  background: url("../../assets/img/Background.jpg");
  background-size: cover;
}

.box-r {
  display: flex;
  flex-direction: column;
  box-shadow: 11px 12px 13px rgb(207, 207, 207);
  border-radius: 60px;
  background-color: white;
}

.box-r input{
  margin-left: 12%;
}

.name-r {
  box-shadow: inset 0px 0px 25px 0px #888;
  margin-bottom: 10px;
}

.button-r {
  background-color: #ff0000;
  margin-left: 12%;
}
