.name-l {
  font-size: 20px;
  text-align: center;

  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
  margin-bottom: 10px;
}

.second-input-l {
  padding-top: 10px;
}

.button-l {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  background-color: #ff0000;
  color: white;
  font-size: 25px;
  border: none;
}

.login-button-l {
  padding-top: 25px;
}
