.main-r {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 300px 0 90px 0;
  background: url("../../assets/img/AdminBackground.jpg");
  background-size: cover;
  height: 100%;
  padding-bottom: 200px;
}

.box-r {
  display: flex;
  justify-content: center;
  height: 560px;
  width: 400px;
  box-shadow: 11px 12px 13px rgb(207, 207, 207);
  padding-top: 10px;
  padding: center;
  border-radius: 60px;
  background-color: rgb(211, 211, 211);
}

.title-r {
  margin-top: 0px;
  margin-right: 0px;
}
