.main-h {
    background: url("../../assets/img/Background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-bottom: 50%;
  }

  .main-h h1
  {
    text-align: center;
    font-size: 3vw;
  }