.box-input-fm {
  font-size: 20px;
  color: grey;
  width: auto;
  height: 110px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 25px 0px rgb(255, 250, 250);
  border: none;
  outline: none;
  background-color: #fff;
  margin-top: 10px;
  margin-right: auto;
  padding-right: center;
}

.name1-fm {
  font-size: 20px;
  text-align: center;
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px rgb(255, 250, 250);
  border: none;
  outline: none;
  background-color: #fff;
  margin-top: 20px;
}

.name2-fm {
  font-size: 20px;
  text-align: center;
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px rgb(255, 250, 250);
  border: none;
  outline: none;
  background-color: #fff;
}

li {
  display: inline-block;
  margin-right: 4%;
}

.role-fm {
  font-size: 20px;
  text-align: center;

  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px rgb(255, 250, 250);
  border: none;
  outline: none;
  background-color: #fff;
  margin-top: 10px;
  margin-right: auto;
}

/*.button-r {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    background-color: #00BFFF;
    color: white;
    font-size: 25px;
    border: none;
    padding: center;
    margin-right: auto;
    margin-top: 10px;
  }*/

.email-fm {
  font-size: 20px;
  text-align: center;

  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px rgb(255, 250, 250);
  border: none;
  outline: none;
  background-color: #fff;
  margin-top: 10px;
  margin-right: auto;
}

.réinitialiser {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 20px;
  border: none;
  margin-top: 100px;
}

.sauvegarder {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  background-color: red;
  color: black;
  font-size: 20px;
  border: none;
}

.réinitialiser:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.réinitialiser:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.réinitialiser:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.réinitialiser::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.réinitialiser-white::after {
  background-color: white;
}

.réinitialiser:hover::after {
  /* transform: scaleX(1.4) scaleY(1.6);*/
  opacity: 0;
}

.réinitialiser-animated {
  /*animation: moveInBottom 5s ease-out;*/
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.sauvegarder:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.sauvegarder:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.sauvegarder:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sauvegarder::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.sauvegarder-red::after {
  background-color: red;
}

.sauvegarder:hover::after {
  /* transform: scaleX(1.4) scaleY(1.6);*/
  opacity: 0;
}

.sauvegarder-animated {
  /*animation: moveInBottom 5s ease-out;*/
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
